/* Common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}



a {
    text-decoration: none;
    padding: 0.25rem 1rem;
    display: inline-block;
}

/* Utility Classes */
.container {
    width: 1170px;
    margin: auto;
}

.list-inline {
    list-style: none;
    display: flex;
}

.active {
    color: $dc-blue !important;
    border-bottom: 4px solid $dc-blue;
}