// Header
#site_header {
    background-color: white;
    color: #333;
    text-align: center;

    .logo {
        padding: 2rem 0;

        img {
            height: 110px;
        }
    }

    .menu {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: #333;
            padding: 0.75rem 1rem;
            font-weight: 600;

            &.active {
                background-color: $brand_color;
            }
        }
    }
}