/* Common rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  padding: 0.25rem 1rem;
  display: inline-block;
}

/* Utility Classes */
.container {
  width: 1170px;
  margin: auto;
}

.list-inline {
  list-style: none;
  display: flex;
}

.active {
  color: #0282F9 !important;
  border-bottom: 4px solid #0282F9;
}

#site_header .topnav {
  background-color: #0282F9;
  color: #FFFFFF;
}
#site_header .topnav nav {
  display: flex;
  justify-content: flex-end;
}
#site_header .topnav nav a {
  font-size: 0.75rem;
  color: white;
  text-transform: uppercase;
}
#site_header .topnav nav a:hover {
  text-decoration: underline;
}
#site_header .menu_wrapper {
  background-color: #FFFFFF;
}
#site_header .menu_wrapper nav {
  display: flex;
  align-items: center;
}
#site_header .menu_wrapper nav .logo {
  width: 70px;
  height: auto;
}
#site_header .menu_wrapper nav .main_menu a {
  padding: 2rem 0rem;
  margin: 0 1rem;
  color: #4D5661;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}
#site_header .menu_wrapper nav .main_menu a:hover {
  border-bottom: 4px solid #0282F9;
}

.hero-image {
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  height: 400px;
}

.comics {
  background-color: #1C1C1C;
}
.comics .container .section_title {
  background: #0282F9;
  display: inline-flex;
  padding: 0.5rem 2rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: white;
}
.comics .container .comics_container {
  display: flex;
  flex-wrap: wrap;
}
.comics .container .comics_container .comic {
  margin: 0.5rem;
  width: calc(100% / 6 - 1rem);
}