@import 'partials/variables';
@import 'partials/common';
@import 'partials/header';


// Main

#main_content {
    background-image: url('../img/fondo-pag-speciali.jpg');
}

.pastas {
    display: flex;
    flex-wrap: wrap;

    .card {
        position: relative;
        width: calc(100% / 3 - 1rem);
        margin: .5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .pasta_details {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            .pasta_details {
                display: block;
            }
        }
    }
}

// Footer
footer {
    background-color: white;
    height: 200px;
}