@import 'partials/variables';
@import 'partials/common';
@import 'partials/shop';

// Header
@import 'partials/header';


// Main


.comics {
    background-color: $dc-dark;


    .container {

        .section_title {
            background: $dc-blue;
            display: inline-flex;
            padding: 0.5rem 2rem;
            margin-top: -2rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            color: white;
        }

        .comics_container {
            display: flex;
            flex-wrap: wrap;

            .comic {
                margin: 0.5rem;
                width: calc(100% / 6 - 1rem);

            }
        }


    }

}

// Footer